
.iconPlus {
    margin-right: 10px;
}
.mainDiv {
    padding: 40px;
    height: 95vh;
    overflow: auto;
}

.contList{
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 5px;
    overflow-y: scroll;
    height:64%;
}

.btnAdd{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ad005c;
}

.choose {
    font-weight: bolder;
    color: darkgray;
    height:64%;
}
