

.mainDiv {
    padding: 40px;
    height: 95vh;
    overflow: auto;
}

.contList{
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 5px;
    overflow-y: scroll;
    height:75%;
    max-height: 90vh;
}

.choose {
    overflow-y: scroll;
    height:75%;
    max-height: 90vh;
}

.defaultTitle {
    font-weight: bolder;
    color: darkgray;

}